.intro-img {
  background-image: url(./images/pair_programming.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#logo {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Fredericka the Great', cursive;
  font-size: 5em;
  color: #FF9800;
  text-shadow:
    3px 3px 0 #000,
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

#login-form {
  height: 50%;
  margin: 20px 20px;
  display: flex;
  flex-direction: column;
}

main {
  height: 100vh;
}
